html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: whitesmoke;
}

div.panels  {
    position: relative;
    width: 100%;  
    height: 100%;    
    transition: transform 500ms linear;
}

button {
    border: 0px;
    margin: 0px;
    background-color: #2979FF;
    padding: 10px;
    min-width: 100px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

.panel {
    position: relative;
    width: 100%;
    height: 100%;    
}

.panel .content {
    position: relative;
    max-width: 1140px;
    max-height: calc(100% - 200px);
    width: calc(100% - 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.vp-extra-small .panel .content, 
.vp-small .panel .content {
    padding: 20px !important;
    box-sizing: border-box;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}