html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: whitesmoke;
}

div.panels  {
    position: relative;
    width: 100%;  
    height: 100%;    
    transition: transform 500ms linear;
}

button {
    border: 0px;
    margin: 0px;
    background-color: #2979FF;
    padding: 10px;
    min-width: 100px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

.panel {
    position: relative;
    width: 100%;
    height: 100%;    
}

.panel .content {
    position: relative;
    max-width: 1140px;
    max-height: calc(100% - 200px);
    width: calc(100% - 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.vp-extra-small .panel .content, 
.vp-small .panel .content {
    padding: 20px !important;
    box-sizing: border-box;
}

#panel-1 {
    background-image: url('../Images/43688.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

#panel-1 .content .titulo,
#panel-1 .content .titulo + span {
    font-size: 96px;
}

#panel-1 .content .titulo + span {
    color: #2979FF;
}

#panel-1 .content p {
    white-space: pre-line;
    line-height: 24px;
    font-size: 18px;
}

#panel-1 footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
}

#panel-1 footer .footer-container {
    position: relative;
    width: calc(100% - 20px);
    max-width: 1140px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#panel-1 footer .footer-content {
    width: 25%;
    height: calc(100% - 20px);
    float: left;
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    border-right: white solid 1px;
}

#panel-1 footer .footer-content:last-child {
    border-right: transparent none 0px;
}

#panel-1 footer .footer-content.titulo p {
    font-weight: bold;
    font-size: 18px;
    margin: 9px;
    text-align: right;
}

#panel-1 footer .footer-content.titulo p.blue {
    color: #2979FF;
}

.vp-extra-small #panel-1 footer, 
.vp-small #panel-1 footer {
    display: none;
}

#panel-2 {

}

#panel-3 {

}

header div, .nav-wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    width: calc(100% - 20px);
    max-width: 1140px;
}

header, .nav-wrapper {
    position: fixed;
    top: 0px;
    width: 100%;    
    height: 64px;    
    z-index: 99;
}

.nav-wrapper nav a {
    color: white;
    text-decoration: inherit;
}

header {
    transition: background-color 500ms linear;
}

header #menu, header #logo {
    float: left;
    background-size: calc(100% - 20px);
    background-repeat: no-repeat;
    background-position: center center;
    height: 64px;
    width: 64px;
}

header #logo {    
    background-image: url('../Images/47971.svg');    
}

header #menu {   
    float: right; 
    display: none;
    background-image: url('../Images/60510.svg');    
}

header.close #menu {    
    background-image: url('../Images/61155.svg');    
}

.vp-extra-small header #menu, 
.vp-small header #menu {
    display: block;
}

.vp-extra-small header.close, 
.vp-small header.close,
header.blue {
    background-color: #2979FF;
}

.nav-wrapper nav {
    float: right;
    height: 100%;
    padding: 20px 0px;
}

.nav-wrapper nav a {    
    padding: 0px 10px;
    line-height: 24px;
}


.vp-extra-small .nav-wrapper,
.vp-small .nav-wrapper {    
    background-color: #2979FF;
    top: 64px;
    left: 100%;
    height: calc(100% - 64px);
    width: 100%;
    transition: left 500ms linear;
}

.vp-extra-small .nav-wrapper.open,
.vp-small .nav-wrapper.open  {    
    left: 0px;
}

.vp-extra-small .nav-wrapper nav,
.vp-small .nav-wrapper nav {
    float: none;
    width: 100%;
}

.vp-extra-small .nav-wrapper a,
.vp-small .nav-wrapper a {
    text-align: center;
    line-height: 64px;
    display: block;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.card {
    float: left;
    width: calc(100% - 20px);
    height: 100%;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    max-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .card-img {
    width: 100%;
    height: 50vw;
    max-height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card .card-title {
    padding: 5px;
    font-size: 18px;
}

.card .card-content {
    padding: 5px;
    max-height: 750px;
    color: silver;
}

.vp-medium .card {
    width: calc(50% - 20px);
}

.vp-large .card {
    width: calc(33.33% - 20px);
}

.vp-extra-large .card {
    width: calc(25% - 20px);
}

.vp-medium .card-img {
    height: 37.5vw;
}

.vp-large .card-img {
    height: 25vw;
}

.vp-extra-large .card-img {
    height: 18.75vw;
}

.slick-arrow {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.slick-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    float: left;
    height: 32px;
    width: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slick-next {
    right: 0px;
    background-image: url('../Images/60758.svg');
}

.slick-prev {
    left: 0px;
    background-image: url('../Images/60965.svg');
}

/* Dots */
.slick-dots {
    padding: 0px;   
}

.slick-dot {
    width: 24px;
    height:24px;
    border-radius: 50%;
    background-color: silver;
}

.slick-active .slick-dot {
    background-color: #2979FF;
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;
}

.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.about-img {
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    height: 50vw;
    border-radius: 5px;
    background-image: url('../Images/43688.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-content {
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    display: inline-table;
}

.vp-extra-large .about-img {
    width: calc(25% - 20px);
    height: 18.25vw;
}

.vp-large .about-img {
    width: calc(33.33% - 20px);
    height: 25vw;
}

.vp-medium .about-img {
    width: calc(50% - 20px);
    height: 37.5vw;
}

.vp-extra-large .about-content {
    width: calc(75% - 20px);
    height: 18.25vw;
}

.vp-large .about-content{
    width: calc(66.66% - 20px);
    height: 25vw;
}

.vp-medium .about-content {
    width: calc(50% - 20px);
    height: 37.5vw;
}